<form>
    <div class="form-group" >  
      <label>Id</label>
      <input type="number" class="form-control" name="id" placeholder="Enter id" >
    </div>
    <div class="form-group">
      <label>title</label>
      <input type="string" class="form-control" name="title" placeholder="Enter title" >
    </div>
    <div class="form-group">
      <label>genre</label>
      <input type="text" class="form-control" name="genre" placeholder="Enter genre" >
    </div>
    <div class="form-group">
        <label>public</label>
        <input type="text" class="form-control" name="public" placeholder="Enter public"   >
    </div>
    <div class="form-group">
        <label>nbrShared</label>
        <input type="number" class="form-control" name="nbrShared" placeholder="Enter nbrShared">
      </div>
    <button type="submit" class="btn btn-primary"  (click)="ajouter()">Submit</button>
  </form>
